# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 257cb1d7d031032390a0e9d738d0e0d83f4ca72712c2c2a9e58b2d54aabcd53ae650f5bb2735bcc526a91e78fd225e40ab927de8e986b6ce4de6104125c1b223

test:
  secret_key_base: 9343c65c191f160b115531e73ab7265fe871d5705543ab6323ea211b652f7082efc3da656e1af08565314146ab958e7c1b2c092405c007c98626383f41b0f792
